body {
  min-height: 100% !important;
}

.logo-image {
  top: 86%;
  left: 15%;
}


.logo-text {
  text-align: center;
  font-size: x-large;
  position: absolute;
  top: 86%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
}

#home {
  background-image: url('./images/nike01.jpg');
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.productContainer {
  display:flex;
  flex-wrap:wrap;
}

.productContainer > .link {
  width: 300px;
  box-shadow: 0 0 10px #463636;
  text-align: center;
  margin: 10px;
}

.productContainer > .link:hover {
  background-color: lightgray;
}